<table>
    <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </thead>
    <tbody>
        <% list.forEach(function(value) { %>
            <%- include("./producto", {value: value}) %>
        <% }); %> 
    </tbody>
</table>