<table>
    <thead>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </thead>
    <tbody>
        {{#each list }}
            {{> producto }}
        {{/each }}
    </tbody>
</table>